{% schema %}
{
  "name": "Image with Link",
  "tag": "section",
  "class": "banner-with-linked-image",
  "settings": [
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Upload Image"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Alt Text",
      "default": "Linked image"
    }
  ],
  "presets": [
    {
      "name": "Image with Link"
    }
  ]
}
{% endschema %}

{% if section.settings.image %}
  <a href="{{ section.settings.link_url | escape }}" {% if section.settings.link_url != blank %}target="_blank"{% endif %}>
    <img 
      src="{{ section.settings.image | img_url: 'master' }}" 
      alt="{{ section.settings.alt_text | escape }}" 
      loading="lazy" 
      width="100%"
    >
  </a>
{% endif %}
<style>
  .banner-with-linked-image img {
  display: flex;
}
</style>
